.snui-alert-dialog__footer {
  align-self: flex-end;
  display: flex;
  gap: 0.5rem;
  padding-bottom: var(--snui-size-sm);
  padding-top: var(--snui-size-xs);
  padding-right: var(--snui-size-sm);
}
