:root {
  --snui-color-black: #000;
  --snui-color-cyan100: #e5ffff;
  --snui-color-cyan200: #b3ffff;
  --snui-color-cyan300: #80ffff;
  --snui-color-cyan400: #4dffff;
  --snui-color-cyan500: #1affff;
  --snui-color-cyan600: #00e5e6;
  --snui-color-cyan700: #007f80;
  --snui-color-cyan800: #007f80;
  --snui-color-cyan900: #004c4d;
  --snui-color-error-100: #fbeaea;
  --snui-color-error-200: #f2c0c0;
  --snui-color-error-300: #e99696;
  --snui-color-error-400: #e06b6b;
  --snui-color-error-500: #d74141;
  --snui-color-error-600: #be2828;
  --snui-color-error-700: #941f1f;
  --snui-color-error-800: #691616;
  --snui-color-error-900: #3f0d0d;
  --snui-color-focus-ring: #4299e1;
  --snui-color-gray-100: #f1f2f4;
  --snui-color-gray-200: #d4d7de;
  --snui-color-gray-300: #b7bdc8;
  --snui-color-gray-400: #9aa2b2;
  --snui-color-gray-500: #7d889c;
  --snui-color-gray-600: #636e82;
  --snui-color-gray-700: #4d5665;
  --snui-color-gray-800: #373d48;
  --snui-color-gray-900: #21252b;
  --snui-color-info-100: #e6f6ff;
  --snui-color-info-200: #b3e4fe;
  --snui-color-info-300: #81d2fd;
  --snui-color-info-400: #4fc0fd;
  --snui-color-info-500: #1caefc;
  --snui-color-info-600: #0394e3;
  --snui-color-info-700: #0273b0;
  --snui-color-info-800: #02527e;
  --snui-color-info-900: #01314c;
  --snui-color-success-100: #f2f8ec;
  --snui-color-success-200: #d7ebc7;
  --snui-color-success-300: #bddea1;
  --snui-color-success-400: #a3d07b;
  --snui-color-success-500: #88c356;
  --snui-color-success-600: #6fa93c;
  --snui-color-success-700: #56842f;
  --snui-color-success-800: #3e5e21;
  --snui-color-success-900: #253814;
  --snui-color-transparent: transparent;
  --snui-color-warning-100: #fff8e6;
  --snui-color-warning-200: #fee9b4;
  --snui-color-warning-300: #fdda82;
  --snui-color-warning-400: #fccb50;
  --snui-color-warning-500: #fbbc1d;
  --snui-color-warning-600: #e2a304;
  --snui-color-warning-700: #af7f03;
  --snui-color-warning-800: #7d5a02;
  --snui-color-warning-900: #4b3601;
  --snui-color-white: #fff;
}
