:root {
  --snui-color-black: #000000;

  --snui-color-cyan200: #b3ffff;
  --snui-color-cyan300: #80ffff;
  --snui-color-cyan400: #4dffff;
  --snui-color-cyan500: #1affff;
  --snui-color-cyan600: #00e5e6;
  --snui-color-cyan700: #007f80;
  --snui-color-cyan800: #007f80;
  --snui-color-cyan900: #004c4d;

  --snui-color-error100: #fbeaea;
  --snui-color-error200: #f2c0c0;
  --snui-color-error300: #e99696;
  --snui-color-error400: #e06b6b;
  --snui-color-error500: #d74141;
  --snui-color-error600: #be2828;
  --snui-color-error700: #941f1f;
  --snui-color-error800: #691616;
  --snui-color-error900: #3f0d0d;

  --snui-color-focus-ring: #4299e1;

  --snui-color-gray100: #f1f2f4;
  --snui-color-gray200: #d4d7de;
  --snui-color-gray300: #b7bdc8;
  --snui-color-gray400: #9aa2b2;
  --snui-color-gray500: #7d889c;
  --snui-color-gray600: #636e82;
  --snui-color-gray700: #4d5665;
  --snui-color-gray800: #373d48;
  --snui-color-gray900: #21252b;

  --snui-color-info100: #e6f6ff;
  --snui-color-info200: #b3e4fe;
  --snui-color-info300: #81d2fd;
  --snui-color-info400: #4fc0fd;
  --snui-color-info500: #1caefc;
  --snui-color-info600: #0394e3;
  --snui-color-info700: #0273b0;
  --snui-color-info800: #02527e;
  --snui-color-info900: #01314c;

  --snui-color-primary: #0078d4;

  --snui-color-success100: #f2f8ec;
  --snui-color-success200: #d7ebc7;
  --snui-color-success300: #bddea1;
  --snui-color-success400: #a3d07b;
  --snui-color-success500: #88c356;
  --snui-color-success600: #6fa93c;
  --snui-color-success700: #56842f;
  --snui-color-success800: #3e5e21;
  --snui-color-success900: #253814;

  --snui-color-warning100: #fff8e6;
  --snui-color-warning200: #fee9b4;
  --snui-color-warning300: #fdda82;
  --snui-color-warning400: #fccb50;
  --snui-color-warning500: #fbbc1d;
  --snui-color-warning600: #e2a304;
  --snui-color-warning700: #af7f03;
  --snui-color-warning800: #7d5a02;
  --snui-color-warning900: #4b3601;

  --snui-color-white: #ffffff;
}
