:root {
  --sizes-xxxxxm: 0.125rem;
  --sizes-xxxxm: 0.25rem;
  --sizes-xxxm: 0.375rem;
  --sizes-xxm: 0.5rem;
  --sizes-xm: 0.625rem;
  --sizes-xxxxsm: 0.75rem;
  --sizes-xxxsm: 0.875rem;
  --sizes-xxsm: 1rem;
  --sizes-xsm: 1.25rem;
  --sizes-sm: 1.5rem;
  --sizes-xxxxmd: 1.75rem;
  --sizes-xxxmd: 2rem;
  --sizes-xxmd: 2.25rem;
  --sizes-xmd: 2.5rem;
  --sizes-md: 3rem;
  --sizes-lg: 3.5rem;
  --sizes-xlg: 4rem;
  --sizes-xxlg: 5rem;
  --sizes-xxxlg: 6rem;
  --sizes-xxxxlg: 7rem;
}
