:root {
  --font-letter-spacing-xs: -0.05rem;
  --font-letter-spacing-sm: -0.025rem;
  --font-letter-spacing-md: 0;
  --font-letter-spacing-lg: 0.025rem;
  --font-letter-spacing-xl: 0.05rem;
  --font-letter-spacing-xxl: 0.1rem;
  --font-line-height-xxs: 0.25;
  --font-line-height-xs: 0.375;
  --font-line-height-sm: 0.5;
  --font-line-height-md: 0.85;
  --font-line-height-lg: 1.2;
  --font-line-height-xl: 2.25;
  --font-line-height-xxl: 3;
  --font-weight-xxs: 100;
  --font-weight-xs: 200;
  --font-weight-sm: 300;
  --font-weight-md: 400;
  --font-weight-lg: 500;
  --font-weight-xl: 600;
  --font-weight-xxl: 700;
  --font-weight-xxxl: 800;
  --font-weight-xxxxl: 900;
  --font-heading: -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    helvetica,
    arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-body: -apple-system,
    blinkmacsystemfont,
    'Segoe UI',
    helvetica,
    arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-mono: sfmono-regular,
    menlo,
    monaco,
    consolas,
    'Liberation Mono',
    'Courier New',
    monospace;
  --font-sizes-xxxxs: 0.75rem;
  --font-sizes-xxxs: 0.875rem;
  --font-sizes-xxs: 1rem;
  --font-sizes-xs: 1.125rem;
  --font-sizes-sm: 1.25rem;
  --font-sizes-md: 1.5rem;
  --font-sizes-lg: 1.875rem;
  --font-sizes-xl: 2.25rem;
  --font-sizes-xxl: 3rem;
  --font-sizes-xxxl: 3.75rem;
  --font-sizes-xxxxl: 4.5rem;
  --font-sizes-xxxxxl: 6rem;
}
