// --------------------------------
// Utility classes
//
// These classes will be used through out the UI
//
// using 'snui' @namespace to help prevent collisions
//
// credit: https://github.com/CodyHouse/codyhouse-framework/blob/master/main/assets/css/base/_util.scss
// --------------------------------

// --------------------------------
// Flexbox
// --------------------------------
.snui-flex {
  display: flex;
}

.snui-inline-flex {
  display: inline-flex;
}

.snui-flex-wrap {
  flex-wrap: wrap;
}

.snui-flex-column {
  flex-direction: column;
}

.snui-flex-column-reverse {
  flex-direction: column-reverse;
}

.snui-flex-row {
  flex-direction: row;
}

.snui-flex-row-reverse {
  flex-direction: row-reverse;
}

.snui-flex-center {
  justify-content: center;
  align-items: center;
}

// css property: justify-content
// how flex items should be aligned using the main axis
.snui-justify-space-between {
  justify-content: space-between;
}

.snui-justify-space-evenly {
  justify-content: space-evenly;
}

.snui-justify-space-around {
  justify-content: space-around;
}

.snui-justify-center {
  justify-content: center;
}

.snui-justify-flex-end {
  justify-content: flex-end;
}

.snui-justify-flex-start {
  justify-content: flex-start;
}

// css property: align-items
// how flex items should be aligned using the cross axis
.snui-items-baseline {
  align-items: baseline;
}

.snui-items-center {
  align-items: center;
}

.snui-items-flex-end {
  align-items: flex-end;
}

.snui-items-flex-start {
  align-items: flex-start;
}

.snui-items-stretch {
  align-items: stretch;
}

// css property: flex-wrap
.snui-wrap {
  flex-wrap: wrap;
}

.snui-nowrap {
  flex-wrap: nowrap;
}

.snui-wrap-reverse {
  flex-wrap: wrap-reverse;
}

// css property: align-self
// how flex items can align themselves along the cross axis
.snui-self-center {
  align-self: center;
}

.snui-self-end {
  align-self: flex-end;
}

.snui-self-start {
  align-self: flex-start;
}

// --------------------------------
// Font Size
// --------------------------------
.snui-text-xs {
  font-size: var(--snui-font-size-xs, 0.85rem);
}

.snui-text-sm {
  font-size: var(--snui-font-size-sm, 1rem);
}

.snui-text-md {
  font-size: var(--snui-font-size-md, 1.125rem);
}

.snui-text-lg {
  font-size: var(--snui-font-size-lg, 1.625rem);
}

.snui-text-xl {
  font-size: var(--snui-font-size-xl, 2.25rem);
}

.snui-text-xxl {
  font-size: var(--snui-font-size-xxl, 3.15rem);
}

// --------------------------------
// Margin
// --------------------------------
.snui-margin-xs {
  margin: var(--snui-space-xs);
}

.snui-margin-sm {
  margin: var(--snui-space-sm);
}

.snui-margin-md {
  margin: var(--snui-space-md);
}

.snui-margin-lg {
  margin: var(--snui-space-lg);
}

.snui-margin-xl {
  margin: var(--snui-space-xl);
}

.snui-margin-xxl {
  margin: var(--snui-space-xxl);
}

// css property: margin-top
.snui-margin-top-xs {
  margin-top: var(--snui-space-xs);
}

.snui-margin-top-sm {
  margin-top: var(--snui-space-sm);
}

.snui-margin-top-md {
  margin-top: var(--snui-space-md);
}

.snui-margin-top-lg {
  margin-top: var(--snui-space-lg);
}

.snui-margin-top-xl {
  margin-top: var(--snui-space-xl);
}

.snui-margin-top-xxl {
  margin-top: var(--snui-space-xxl);
}

// css property: margin-bottom
.snui-margin-bottom-xs {
  margin-bottom: var(--snui-space-xs);
}

.snui-margin-bottom-sm {
  margin-bottom: var(--snui-space-sm);
}

.snui-margin-bottom-md {
  margin-bottom: var(--snui-space-md);
}

.snui-margin-bottom-lg {
  margin-bottom: var(--snui-space-lg);
}

.snui-margin-bottom-xl {
  margin-bottom: var(--snui-space-xl);
}

.snui-margin-bottom-xxl {
  margin-bottom: var(--snui-space-xxl);
}
// css property: margin-right
.snui-margin-right-xs {
  margin-right: var(--snui-space-xs);
}

.snui-margin-right-sm {
  margin-right: var(--snui-space-sm);
}

.snui-margin-right-md {
  margin-right: var(--snui-space-md);
}

.snui-margin-right-lg {
  margin-right: var(--snui-space-lg);
}

.snui-margin-right-xl {
  margin-right: var(--snui-space-xl);
}

.snui-margin-right-xxl {
  margin-right: var(--snui-space-xxl);
}

// css property: margin-left
.snui-margin-left-xs {
  margin-left: var(--snui-space-xs);
}

.snui-margin-left-sm {
  margin-left: var(--snui-space-sm);
}

.snui-margin-left-md {
  margin-left: var(--snui-space-md);
}

.snui-margin-left-lg {
  margin-left: var(--snui-space-lg);
}

.snui-margin-left-xl {
  margin-left: var(--snui-space-xl);
}

.snui-margin-left-xxl {
  margin-left: var(--snui-space-xxl);
}

//  horizontal margin
.snui-margin-x-xs {
  margin-left: var(--snui-space-xs);
  margin-right: var(--snui-space-xs);
}

.snui-margin-x-sm {
  margin-left: var(--snui-space-sm);
  margin-right: var(--snui-space-sm);
}

.snui-margin-x-md {
  margin-left: var(--snui-space-md);
  margin-right: var(--snui-space-md);
}

.snui-margin-x-lg {
  margin-left: var(--snui-space-lg);
  margin-right: var(--snui-space-lg);
}

.snui-margin-x-xl {
  margin-left: var(--snui-space-xl);
  margin-right: var(--snui-space-xl);
}

.snui-margin-x-xxl {
  margin-left: var(--snui-space-xxl);
  margin-right: var(--snui-space-xxl);
}

// vertical margin
.snui-margin-y-xs {
  margin-top: var(--snui-space-xs);
  margin-bottom: var(--snui-space-xs);
}

.snui-margin-y-sm {
  margin-top: var(--snui-space-sm);
  margin-bottom: var(--snui-space-sm);
}

.snui-margin-y-md {
  margin-top: var(--snui-space-md);
  margin-bottom: var(--snui-space-md);
}

.snui-margin-y-lg {
  margin-top: var(--snui-space-lg);
  margin-bottom: var(--snui-space-lg);
}

.snui-margin-y-xl {
  margin-top: var(--snui-space-xl);
  margin-bottom: var(--snui-space-xl);
}

.snui-margin-y-xxl {
  margin-top: var(--snui-space-xxl);
  margin-bottom: var(--snui-space-xxl);
}

// --------------------------------
// Padding
// --------------------------------
.snui-padding-xs {
  padding: var(--snui-space-xs);
}

.snui-padding-sm {
  padding: var(--snui-space-sm);
}

.snui-padding-md {
  padding: var(--snui-space-md);
}

.snui-padding-lg {
  padding: var(--snui-space-lg);
}

.snui-padding-xl {
  padding: var(--snui-space-xl);
}

.snui-padding-xxl {
  padding: var(--snui-space-xxl);
}

// padding-top
.snui-padding-top-xs {
  padding-top: var(--snui-space-xs);
}

.snui-padding-top-sm {
  // padding-top: var(--snui-space-sm);
  padding-top: 0.1rem;
}

.snui-padding-top-md {
  // padding-top: var(--snui-space-md);
  padding-top: 0.5rem;
}

.snui-padding-top-lg {
  // padding-top: var(--snui-space-lg);
  padding-top: 0.3rem;
}

.snui-padding-top-xl {
  padding-top: var(--snui-space-xl);
}

.snui-padding-top-xxl {
  padding-top: var(--snui-space-xxl);
}

// padding-bottom
.snui-padding-bottom-xs {
  padding-bottom: var(--snui-space-xs);
}

.snui-padding-bottom-sm {
  padding-bottom: var(--snui-space-sm);
}

.snui-padding-bottom-md {
  padding-bottom: var(--snui-space-md);
}

.snui-padding-bottom-lg {
  padding-bottom: var(--snui-space-lg);
}

.snui-padding-bottom-xl {
  padding-bottom: var(--snui-space-xl);
}

.snui-padding-bottom-xxl {
  padding-bottom: var(--snui-space-xxl);
}

// padding-right
.snui-padding-right-xs {
  padding-right: var(--snui-space-xs);
}

.snui-padding-right-sm {
  padding-right: var(--snui-space-sm);
}

.snui-padding-right-md {
  padding-right: var(--snui-space-md);
}

.snui-padding-right-lg {
  padding-right: var(--snui-space-lg);
}

.snui-padding-right-xl {
  padding-right: var(--snui-space-xl);
}

.snui-padding-right-xxl {
  padding-right: var(--snui-space-xxl);
}

// padding-left
.snui-padding-left-xs {
  padding-left: var(--snui-space-xs);
}

.snui-padding-left-sm {
  padding-left: var(--snui-space-sm);
}

.snui-padding-left-md {
  padding-left: var(--snui-space-md);
}

.snui-padding-left-lg {
  padding-left: var(--snui-space-lg);
}

.snui-padding-left-xl {
  padding-left: var(--snui-space-xl);
}

.snui-padding-left-xxl {
  padding-left: var(--snui-space-xxl);
}

// horizontal padding
.snui-padding-x-xs {
  padding-left: var(--snui-space-xs);
  padding-right: var(--snui-space-xs);
}

.snui-padding-x-sm {
  padding-left: var(--snui-space-sm);
  padding-right: var(--snui-space-sm);
}

.snui-padding-x-md {
  padding-left: var(--snui-space-md);
  padding-right: var(--snui-space-md);
}

.snui-padding-x-lg {
  padding-left: var(--snui-space-lg);
  padding-right: var(--snui-space-lg);
}

.snui-padding-x-xl {
  padding-left: var(--snui-space-xl);
  padding-right: var(--snui-space-xl);
}

.snui-padding-x-xxl {
  padding-left: var(--snui-space-xxl);
  padding-right: var(--snui-space-xxl);
}

// vertical padding
.snui-padding-y-xs {
  padding-top: var(--snui-space-xs);
  padding-bottom: var(--snui-space-xs);
}

.snui-padding-y-sm {
  padding-top: var(--snui-space-sm);
  padding-bottom: var(--snui-space-sm);
}

.snui-padding-y-md {
  padding-top: var(--snui-space-md);
  padding-bottom: var(--snui-space-md);
}

.snui-padding-y-lg {
  padding-top: var(--snui-space-lg);
  padding-bottom: var(--snui-space-lg);
}

.snui-padding-y-xl {
  padding-top: var(--snui-space-xl);
  padding-bottom: var(--snui-space-xl);
}

.snui-padding-y-xxl {
  padding-top: var(--snui-space-xxl);
  padding-bottom: var(--snui-space-xxl);
}

// Height
.snui-height-xs {
  height: var(--snui-size-xs);
}

.snui-height-sm {
  height: var(--snui-size-sm);
}

.snui-height-md {
  height: var(--snui-size-md);
}

.snui-height-lg {
  height: var(--snui-size-lg);
}

.snui-height-xl {
  height: var(--snui-size-xl);
}

.snui-height-xxl {
  height: var(--snui-size-xxl);
}

// Width
.snui-width-xs {
  width: var(--snui-size-xs);
}

.snui-width-sm {
  width: var(--snui-size-sm);
}

.snui-width-md {
  width: var(--snui-size-md);
}

.snui-width-lg {
  width: var(--snui-size-lg);
}

.snui-width-xl {
  width: var(--snui-size-xl);
}

.snui-width-xxl {
  width: var(--snui-size-xxl);
}

// match the width and height of the parent
.snui-fill-parent {
  height: 100%;
  width: 100%;
}

// --------------------------------
// Typography
// --------------------------------
.snui-text-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// font family
.snui-font-heading {
  font-family: var(--snui-font-heading);
}

.snui-font-body {
  font-family: var(--snui-font-body);
}

.snui-font-mono {
  font-family: var(--snui-font-mono);
}

// font weight
.snui-font-weight-xs {
  font-weight: var(--snui-font-weight-xs, 200);
}

.snui-font-weight-sm {
  font-weight: var(--snui-font-weight-sm, 300);
}

.snui-font-weight-md {
  font-weight: var(--snui-font-weight-md, 400);
}

.snui-font-weight-lg {
  font-weight: var(--snui-font-weight-lg, 500);
}

.snui-font-weight-xl {
  font-weight: var(--snui-font-weight-xl, 600);
}

.snui-font-weight-xxl {
  font-weight: var(--snui-font-weight-xxl, 700);
}

// text align
.snui-text-center {
  text-align: center;
}

.snui-text-left {
  text-align: left;
}

.snui-text-right {
  text-align: right;
}

// text transform
.snui-text-capitalize {
  text-transform: capitalize;
}

.snui-text-lowercase {
  text-transform: lowercase;
}

.snui-text-uppercase {
  text-transform: uppercase;
}

// letter spacing
.snui-letter-spacing-xs {
  letter-spacing: var(--snui-font-letter-spacing-xs, -0.05rem);
}

.snui-letter-spacing-sm {
  letter-spacing: var(--snui-font-letter-spacing-sm, -0.025rem);
}

.snui-letter-spacing-md {
  letter-spacing: var(--snui-font-letter-spacing-md, 0);
}

.snui-letter-spacing-lg {
  letter-spacing: var(--snui-font-letter-spacing-lg, 0.025rem);
}

.snui-letter-spacing-xl {
  letter-spacing: var(--snui-font-letter-spacing-xl, 0.05rem);
}

.snui-letter-spacing-xxl {
  letter-spacing: var(--snui-font-letter-spacing-xxl, 0.1rem);
}

// line height
.snui-line-height-xs {
  line-height: var(--snui-font-line-height-xs, 1.25rem);
}

.snui-line-height-sm {
  line-height: var(--snui-font-line-height-sm, 1.375rem);
}

.snui-line-height-md {
  line-height: var(--snui-font-line-height-md, 1.5rem);
}

.snui-line-height-lg {
  line-height: var(--snui-font-line-height-lg, 2rem);
}

.snui-line-height-xl {
  line-height: var(--snui-font-line-height-xl, 2.5rem);
}

.snui-line-height-xxl {
  line-height: var(--snui-font-line-height-xxl, 3.5rem);
}

// --------------------------------
// Colors
// --------------------------------
.snui-color-primary {
  background-color: var(--snui-color-primary, #0a6ab6);
}

.snui-color-info {
  background-color: var(--snui-color-info, #026da7);
}

.snui-color-warning {
  background-color: var(--snui-color-warning, #b07f03);
}

.snui-color-success {
  background-color: var(--snui-color-success, #537f2d);
}

.snui-color-error {
  background-color: var(--snui-color-error, #a72323);
}

.snui-color-white {
  background-color: var(--snui-color-white, #fff);
}

// --------------------------------
// Display
// --------------------------------
.snui-display-inline-block {
  display: inline-block;
}

// --------------------------------
// Border Radius
// --------------------------------
.snui-border-radius-xs {
  border-radius: var(--snui-radii-sm, 0.125rem) !important;
}

.snui-border-radius-sm {
  border-radius: var(--snui-radii-xs, 0.25rem) !important;
}

.snui-border-radius-md {
  border-radius: var(--snui-radii-md, 0.375rem) !important;
}

.snui-border-radius-lg {
  border-radius: var(--snui-radii-lg, 0.5rem) !important;
}

.snui-border-radius-xl {
  border-radius: var(--snui-radii-xl, 1rem) !important;
}

.snui-border-radius-xxl {
  border-radius: var(--snui-radii-xxl, 1000rem) !important;
}

// --------------------------------
// Box Shadow
// --------------------------------
.snui-box-shadow-xs {
  box-shadow: var(
    --snui-shadow-xs,
    rgba(8, 11, 14, 0.06) 0 0 1px 0,
    rgba(8, 11, 14, 0.1) 0 1px 1px 0px
  ) !important;
}

.snui-box-shadow-sm {
  box-shadow: var(
    --snui-shadow-sm,
    rgba(8, 11, 14, 0.06) 0 0 1px 0,
    rgba(8, 11, 14, 0.1) 0 3px 3px -1px
  ) !important;
}

.snui-box-shadow-md {
  box-shadow: var(
    --snui-shadow-md,
    rgba(8, 11, 14, 0.06) 0 0 1px 0,
    rgba(8, 11, 14, 0.1) 0 6px 6px -1px
  ) !important;
}

.snui-box-shadow-lg {
  box-shadow: var(
    --snui-shadow-lg,
    rgba(8, 11, 14, 0.06) 0 0 1px 0,
    rgba(8, 11, 14, 0.1) 0 16px 16px -1px
  ) !important;
}

.snui-box-shadow-xl {
  box-shadow: var(
    --snui-shadow-xl,
    rgba(8, 11, 14, 0.06) 0 0 1px 0,
    rgba(8, 11, 14, 0.1) 0 32px 40px -1px
  ) !important;
}

.snui-box-shadow-xxl {
  box-shadow: var(
    --snui-shadow-xxl,
    rgba(8, 11, 14, 0.06) 0 0 1px 0,
    rgba(8, 11, 14, 0.1) 0 45px 50px -1px
  ) !important;
}

// disabled
.snui-disabled,
[aria-disabled='true'],
:disabled {
  cursor: not-allowed !important;
  opacity: 0.4 !important;
}

// --------------------------------
// Position
// --------------------------------
.snui-position-absolute {
  position: absolute;
}

.snui-position-relative {
  position: relative;
}

.snui-position-fixed {
  position: fixed;
}

.snui-position-top-left {
  top: 20%;
  left: 0;
  //left: 1rem;
}

.snui-position-top-right {
  top: 20%;
  right: 0;
  //right: 1rem;
}

// credit - https://www.w3.org/WAI/tutorials/forms/labels/
// Hide label visibility
.snui-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px !important;
  left: 0;
  margin: -1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

// error messages
.snui-error {
  color: var(--snui-color-error-500);
}

// inline padding left
.snui-padding-inline-left {
  justify-content: flex-start !important;
  padding-inline-end: var(--snui-size-xs) !important;
  padding-inline-start: var(--snui-size-xs) !important;
}

// notifications
.snui-notification-bottom {
  bottom: env(safe-area-inset-bottom, 0);
  right: env(safe-area-inset-right, 0);
  left: env(safe-area-inset-left, 0);
}

.snui-notification-bottom-left {
  bottom: env(safe-area-inset-bottom, 0);
  left: env(safe-area-inset-left, 0);
}

.snui-notification-bottom-right {
  bottom: env(safe-area-inset-bottom, 0);
  right: env(safe-area-inset-right, 0);
}

.snui-notification-top {
  top: env(safe-area-inset-top, 0);
  right: env(safe-area-inset-right, 0);
  left: env(safe-area-inset-left, 0);
}

.snui-notification-top-left {
  top: env(safe-area-inset-top, 0);
  left: env(safe-area-inset-left, 0);
}

.snui-notification-top-right {
  top: env(safe-area-inset-top, 0);
  right: env(safe-area-inset-right, 0);
}

// --------------------------------
// Animations
// --------------------------------
@keyframes snui-rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
