.snui-spinner {
  animation: snui-rotate 1s infinite linear;
  border-bottom-color: var(--snui-color-primary);
  border-left-color: transparent;
  border-radius: var(--snui-radii-xxl);
  border-right-color: var(--snui-color-primary);
  border-top-color: transparent;
  border-style: solid;
  border-width: 4px;

  &--xs {
    height: 1rem;
    width: 1rem;
  }

  &--sm {
    height: 1.5rem;
    width: 1.5rem;
  }

  &--md {
    height: 2rem;
    width: 2rem;
  }

  &--lg {
    height: 3rem;
    width: 3rem;
  }

  &--xl {
    height: 4rem;
    width: 4rem;
  }

  &--xxl {
    height: 5rem;
    width: 5rem;
  }

  &--xxxl {
    height: 6.5rem;
    width: 6.5rem;
  }
}
