.snui-slider {
  position: relative;

  &--horizontal {
    height: 0;
    width: 100%;
  }

  &--vertical {
    height: 100%;
    width: 0;
  }

  &--sm.snui-slider--horizontal {
    padding: 5px 0;
  }

  &--md.snui-slider--horizontal {
    padding: 7px 0;
  }

  &--lg.snui-slider--horizontal {
    padding: 8px 0;
  }

  &--sm.snui-slider--vertical {
    padding: 0 5px;
  }

  &--md.snui-slider--vertical {
    padding: 0 7px;
  }

  &--lg.snui-slider--vertical {
    padding: 0 8px;
  }
}
