.snui-text-input {
  appearance: none;
  border: none;
  border-radius: var(--snui-radii-sm);
  box-shadow: var(--snui-shadow-sm);
  color: var(--snui-color-black);
  font-size: 1.2rem;
  font-weight: var(--snui-font-weight-md);
  padding-inline-start: var(--snui-size-md);
  padding-inline-end: var(--snui-size-md);
  outline: currentColor none medium;
  width: 100%;
}

.snui-text-label {
  cursor: text;
  top: 0;
  left: 0;
  transform: translate(1rem, 1.2rem) scale(1.2);
  transition: transform 200ms linear;
  transform-origin: top left;
}

.snui-text-label-floating {
  transform: translate(1.2rem, 0.2rem) scale(1);
  z-index: 100;
}

.snui-text-input-filled {
  background: var(--snui-color-gray-100);

  &:not(:disabled):hover {
    border: 1px solid var(--snui-color-info-500);
  }
}

.snui-text-input-flushed {
  background: var(--snui-color-transparent);
  border-bottom: 1px solid var(--snui-color-info-500);

  &:not(:disabled):hover {
    border-width: 2px;
  }
}

.snui-text-input-outline {
  background: var(--snui-color-transparent);
  border: 1px solid var(--snui-color-info-500);

  &:not(:disabled):hover {
    border-width: 2px;
  }
}

.snui-text-input-disabled {
  background: var(--snui-color-disabled);
}
