.snui-text-input-wrapper {
  position: relative;

  &--sm {
    height: 2.3rem;
  }

  &--md {
    height: 2.6rem;
  }

  &--lg {
    height: 2.9rem;
  }
}

.snui-text-input {
  appearance: none;
  background: none;
  border: none;
  border-radius: var(--snui-radii-sm);
  color: var(--snui-color-black);
  font-weight: var(--snui-font-weight-md);
  outline: currentColor none medium;
  width: 100%;
  height: 100%;

  &:focus {
    border: none;
    outline: 3px solid var(--snui-color-focus-ring);
    outline-offset: 2px;
  }

  &:focus ~ .snui-text-label {
    color: var(--snui-color-primary);
  }

  &--filled {
    background: var(--snui-color-gray100);

    &:not(:disabled):hover {
      border: 1px solid var(--snui-color-primary);
    }
  }

  &--flushed {
    background: transparent;
    border-bottom: 1px solid var(--snui-color-primary);

    &:not(:disabled):hover {
      border-width: 2px;
    }
  }

  &--outline {
    background: transparent;
    border: 1px solid var(--snui-color-primary);

    &:not(:disabled):hover {
      border-width: 2px;
    }
  }

  &--sm {
    font-size: 0.9rem;
  }

  &--md {
    font-size: 1.05rem;
  }

  &--lg {
    font-size: 1.2rem;
  }

  &--default-padding {
    padding: 0.5rem 0.8rem;
  }

  &--padding-left {
    padding-left: 2rem;
  }
}

.snui-text-label {
  color: var(--snui-color-black);
  cursor: text;
  left: 0.5rem;
  padding: 0 0.5rem;
  position: absolute;
  transition: transform 150ms ease-in, font-size 150ms ease-in;

  &--sm {
    font-size: 0.9rem;
    transform: translateY(0.6rem);
  }

  &--md {
    font-size: 1.05rem;
    transform: translateY(0.7rem);
  }

  &--lg {
    font-size: 1.1rem;
    transform: translateY(0.7rem);
  }

  &--padding-left {
    padding-left: 1.5rem;
  }
}

.snui-text-input:focus ~ .snui-text-label,
.snui-text-input:not(:placeholder-shown).snui-text-input:not(:focus)
  ~ .snui-text-label {
  background-color: var(--snui-color-white);
  font-size: 0.7rem;
  transform: translate(-0.1rem, -0.55rem);
}
.snui-text-input--md:focus ~ .snui-text-label--md,
.snui-text-input--md:not(:placeholder-shown).snui-text-input--md:not(:focus)
  ~ .snui-text-label--md {
  background-color: var(--snui-color-white);
  transform: translate(-0.1rem, -0.5rem);
}
