._snui-overlay {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

._snui-modal {
  align-items: center;
  background: var(--color-white);
  border-radius: var(--radii-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: calc(calc(var(--size-xs) * -7) + 100vh);
  position: relative;
  width: calc(var(--size-md) * 14);

  &__header {
    align-self: flex-start;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-lg);
    padding-bottom: calc(var(--size-xs) * 0.5);
    padding-left: var(--size-sm);
    padding-top: var(--size-sm);
  }

  &__close-button {
    border: none;
    box-shadow: none;
    padding: 1rem;
    position: absolute;
    right: var(--space-sm);
    top: var(--space-sm);
  }

  &__body {
    align-self: flex-start;
    overflow: auto;
    padding-inline-end: var(--size-xs);
    padding: var(--size-xs) var(--size-sm);
    width: 100%;
  }

  &__footer {
    align-self: flex-end;
    padding-bottom: var(--size-sm);
    padding-top: var(--size-xs);
    padding-right: var(--size-sm);
  }
}
