.snui-editable__preview {
  cursor: text;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  background: transparent;
  border-radius: var(--snui-radii-md);
  padding-top: 3px;
  padding-bottom: 3px;
}
