.snui-switch {
  appearance: none;
  border: none;
  border-radius: var(--snui-radii-sm);
  color: var(--snui-color-black);
  cursor: pointer;
  outline: currentColor none medium;

  &__control {
    align-items: center;
    background-color: var(--snui-color-gray-200);
    border-radius: var(--snui-radii-xxl);
    display: inline-flex;
    height: var(--snui-size-sm);
    padding: var(--snui-space-xs);
    margin-right: var(--snui-space-sm);
    transition: background-color 0.4s ease;
    width: var(--snui-size-md);
  }

  .snui-hidden-switch:focus ~ .snui-switch__control {
    box-shadow: 0 0 0 3px var(--snui-color-focus-ring);
  }

  &__circle {
    background-color: var(--snui-color-white);
    border-radius: var(--snui-radii-xxl);
    height: var(--snui-size-md);
    transform: translateX(20%);
    transition: transform 0.4s ease;
    width: var(--snui-size-md);
  }

  .snui-hidden-switch:checked ~ .snui-switch__control .snui-switch__circle {
    transform: translateX(110%);
  }

  &__label {
    user-select: none;
  }
}
