._snui-switch {
  appearance: none;
  border: none;
  border-radius: var(--radii-sm);
  color: var(--color-black);
  cursor: pointer;
  outline: currentColor none medium;

  &__control {
    align-items: center;
    background-color: var(--color-gray-200);
    border-radius: var(--radii-xxl);
    display: inline-flex;
    height: var(--size-sm);
    padding: var(--space-xs);
    margin-right: var(--space-sm);
    transition: background-color 0.4s ease;
    width: var(--size-md);
  }

  ._snui-hidden-switch:focus ~ ._snui-switch__control {
    box-shadow: 0 0 0 3px var(--color-focus-ring);
  }

  &__circle {
    background-color: var(--color-white);
    border-radius: var(--radii-xxl);
    height: var(--size-md);
    transform: translateX(0);
    transition: transform 0.4s ease;
    width: var(--size-md);
  }

  ._snui-hidden-switch:checked ~ ._snui-switch__control ._snui-switch__circle {
    transform: translateX(100%);
  }

  &__label {
    user-select: none;
  }
}
