.snui-switch {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  user-select: none;

  &--sm {
    font-size: 0.8rem;
  }

  &--md {
    font-size: 0.95rem;
  }

  &--lg {
    font-size: 1.05rem;
  }

  &__control {
    align-items: center;
    background-color: var(--snui-color-gray200);
    border-radius: var(--snui-radii-xxl);
    cursor: pointer;
    display: inline-flex;
    padding: var(--snui-space-xs);
    transition: background-color 0.4s ease;

    &--sm {
      height: 1rem;
      width: 2rem;
    }

    &--md {
      height: 1.3rem;
      width: 2.7rem;
    }
    &--lg {
      height: 1.5rem;
      width: 3.2rem;
    }
  }

  &__circle {
    background-color: var(--snui-color-white);
    border-radius: var(--snui-radii-xxl);
    transition: transform 0.4s ease;

    &--sm {
      height: 0.8rem;
      width: 0.8rem;
    }

    &--md {
      height: 1.1rem;
      width: 1.1rem;
    }
    &--lg {
      height: 1.3rem;
      width: 1.3rem;
    }
  }
}

.snui-hidden-switch:focus ~ .snui-switch__control {
  border: none;
  outline: 3px solid var(--snui-color-focus-ring);
  outline-offset: 2px;
}

.snui-hidden-switch:checked ~ .snui-switch__control {
  background-color: var(--snui-color-primary);
}

.snui-hidden-switch:checked ~ .snui-switch__control .snui-switch__circle--sm {
  transform: translateX(90%);
}

.snui-hidden-switch:checked ~ .snui-switch__control .snui-switch__circle--md {
  transform: translateX(100%);
}

.snui-hidden-switch:checked ~ .snui-switch__control .snui-switch__circle--lg {
  transform: translateX(110%);
}
