.snui-menu__item {
  appearance: none;
  background: none;
  border: none;
  border-radius: var(--snui-radii-sm);
  cursor: pointer;
  font-weight: 500;
  height: var(--snui-size-md);
  padding-inline-start: var(--snui-size-md);
  padding-inline-end: var(--snui-size-md);
  outline: currentColor none medium;
  width: auto;

  &:focus {
    background: var(--snui-color-gray100);
  }
}
