.snui-accordion__panel {
  padding-bottom: var(--snui-space-sm);
  padding-inline-end: var(--snui-size-xs);
  padding-inline-start: var(--snui-size-xs);
  padding-top: var(--snui-space-sm);
}

.snui-accordion__inner {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0, 1, 0, 1), opacity 1s;
}

.snui-accordion__inner.snui-accordion__inner--expanded {
  height: auto;
  max-height: 9999px;
  opacity: 1;
  transition: all 0.4s cubic-bezier(1, 0, 1, 0), opacity 0.1s;
}
