.snui-radio {
  appearance: none;
  border: none;
  color: var(--snui-color-black);
  cursor: pointer;
  outline: currentColor none medium;

  &__control {
    align-items: center;
    background-color: var(--snui-color-gray-200);
    border-radius: var(--snui-radii-xxl);
    display: inline-flex;
    height: var(--snui-size-sm);
    justify-content: center;
    margin-right: var(--snui-space-sm);
    transition: background-color 0.4s ease;
    width: var(--snui-size-md);
  }

  .snui-hidden-radio:focus ~ .snui-radio__control {
    box-shadow: 0 0 0 3px var(--snui-color-focus-ring);
  }

  &__circle {
    background-color: var(--snui-color-white);
    border-radius: var(--snui-radii-xxl);
    height: calc(100% - 6px);
    transition: transform 0.4s ease;
    width: calc(100% - 6px);
  }

  &__label {
    user-select: none;
  }
}
