.snui-textarea {
  appearance: none;
  border: none;
  border-radius: var(--snui-radii-sm);
  box-shadow: var(--snui-shadow-sm);
  color: var(--snui-color-black);
  font-weight: var(--snui-font-weight-sm);
  min-height: 80px;
  outline: currentColor none medium;
  padding-bottom: calc(var(--snui-size-xs) * 0.9);
  padding-inline-start: var(--snui-size-md);
  padding-inline-end: var(--snui-size-md);
  padding-top: calc(var(--snui-size-xs) * 0.9);
  width: 100%;
}

.snui-textarea-label {
  cursor: text;
  transform: translate(2.5rem, 50%) scale(1.5);
  transition: transform 200ms linear;
}

.snui-textarea-label-floating {
  background-color: var(--snui-color-white);
  transform: translate(1.55rem, -1.15rem) scale(1.2);
  z-index: 100;
}

.snui-textarea-input-filled {
  background: var(--snui-color-gray-100);

  &:not(:disabled):hover {
    border: 1px solid var(--snui-color-info-500);
  }
}

.snui-textarea-flushed {
  background: var(--snui-color-transparent);
  border-bottom: 1px solid var(--snui-color-info-500);
}

.snui-textarea-outline {
  background: var(--snui-color-transparent);
  border: 1px solid var(--snui-color-info-500);
}

.snui-textarea-disabled {
  background: var(--snui-color-disabled);
}
