.snui-textarea-wrapper {
  position: relative;
}

.snui-textarea {
  appearance: none;
  border: none;
  border-radius: var(--snui-radii-sm);
  color: var(--snui-color-black);
  font-size: 1.2rem;
  font-weight: var(--snui-font-weight-sm);
  outline: currentColor none medium;
  padding: 0.5rem 0.9rem;
  width: 100%;

  &--auto-resize {
    resize: none;
  }

  &:focus {
    border: none;
    outline: 3px solid var(--snui-color-focus-ring);
    outline-offset: 2px;
  }

  &--filled {
    background: var(--snui-color-gray100);

    &:not(:disabled):hover {
      border: 1px solid var(--snui-color-primary);
    }
  }

  &--flushed {
    background: transparent;
    border-bottom: 1px solid var(--snui-color-primary);
  }

  &--outline {
    background: transparent;
    border: 1px solid var(--snui-color-primary);
  }
}

.snui-textarea-label {
  background-color: var(--clr-bg);
  color: var(--snui-color-black);
  cursor: text;
  font-size: 1.05rem;
  left: 0.5rem;
  position: absolute;
  padding: 0 0.5rem;
  top: 0.5rem;
  transition: transform 150ms ease-in, font-size 150ms ease-in;
}

.snui-textarea:focus ~ .snui-textarea-label,
.snui-textarea:not(:placeholder-shown).snui-textarea:not(:focus)
  ~ .snui-textarea-label {
  background-color: var(--snui-color-white);
  font-size: 0.7rem;
  transform: translate(-0.1rem, -1.1rem);
}
