.snui-drawer-container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--snui-z-index-overlay);
}

.snui-drawer {
  align-items: center;
  background: var(--snui-color-white);
  border-radius: var(--snui-radii-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: calc(var(--snui-size-md) * 14);
  z-index: var(--snui-z-index-modal);

  &--sm {
    width: 20rem;
  }

  &--md {
    width: 24rem;
  }

  &--lg {
    width: 28rem;
  }

  &--xl {
    width: 36rem;
  }

  &--xxl {
    width: 100vw;
  }

  &__close-button.snui-button {
    border: none;
    box-shadow: none;
    padding: 1rem;
    position: absolute;
    right: var(--snui-space-sm);
    top: var(--snui-space-sm);

    &.snui-button:hover {
      background: none;
      box-shadow: none;
    }
  }

  &--bottom {
    animation: snui-slide-in-bottom var(--snui-transition-duration-normal)
      var(--snui-transition-easing-ease-out);
    bottom: 0;
    width: 100vw;

    &--exiting {
      animation: snui-slide-out-bottom var(--snui-transition-duration-normal)
        var(--snui-transition-easing-ease-out);
    }
  }

  &--left {
    animation: snui-slide-in-left var(--snui-transition-duration-normal)
      var(--snui-transition-easing-ease-out);
    height: 100vh;
    left: 0;
    top: 0;

    &--exiting {
      animation: snui-slide-out-left var(--snui-transition-duration-normal)
        var(--snui-transition-easing-ease-out);
    }
  }

  &--right {
    animation: snui-slide-in-right var(--snui-transition-duration-normal)
      var(--snui-transition-easing-ease-out);
    height: 100vh;
    right: 0;
    top: 0;

    &--exiting {
      animation: snui-slide-out-right var(--snui-transition-duration-normal)
        var(--snui-transition-easing-ease-out);
    }
  }

  &--top {
    animation: snui-slide-in-top var(--snui-transition-duration-normal)
      var(--snui-transition-easing-ease-out);
    top: 0;
    width: 100vw;

    &--exiting {
      animation: snui-slide-out-top var(--snui-transition-duration-normal)
        var(--snui-transition-easing-ease-out);
    }
  }
}

// animations
@keyframes snui-slide-in-bottom {
  0% {
    transform: translateY(120%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes snui-slide-out-bottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(120%);
  }
}

@keyframes snui-slide-in-top {
  0% {
    transform: translateY(-120%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes snui-slide-out-top {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-120%);
  }
}

@keyframes snui-slide-in-left {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes snui-slide-out-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-120%);
  }
}

@keyframes snui-slide-in-right {
  0% {
    transform: translateX(120%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes snui-slide-out-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(120%);
  }
}
