.snui-button {
  appearance: none;
  border: none;
  border-radius: var(--snui-radii-sm);
  box-shadow: var(--snui-shadow-sm);
  color: #fff;
  cursor: pointer;
  font-weight: var(--snui-font-weight-lg);
  outline: currentColor none medium;
  width: auto;

  &:focus {
    outline: 3px solid var(--snui-color-focus-ring);
    outline-offset: 2px;
    box-shadow: var(--snui-shadow-md);
  }

  &--filled {
    background: var(--snui-color-primary);

    &:not(:disabled):hover {
      background: var(--snui-color-info800);
      box-shadow: var(--snui-shadow-md);
    }
  }

  &--outline {
    background: transparent;
    border: 1px solid var(--snui-color-primary);
    color: var(--snui-color-primary);

    &:not(:disabled):hover {
      background: var(--snui-color-info100);
      box-shadow: var(--snui-shadow-md);
    }
  }

  &--sm {
    font-size: 0.7rem;
    height: var(--snui-size-sm);
    padding-inline-end: var(--snui-space-sm);
    padding-inline-start: var(--snui-space-sm);
    min-width: var(--snui-size-sm);
  }

  &--md {
    font-size: 0.85rem;
    height: var(--snui-size-md);
    padding-inline-end: var(--snui-space-md);
    padding-inline-start: var(--snui-space-md);
    min-width: var(--snui-size-md);
  }

  &--lg {
    font-size: 1rem;
    height: var(--snui-size-lg);
    padding-inline-end: var(--snui-space-lg);
    padding-inline-start: var(--snui-space-lg);
    min-width: var(--snui-size-lg);
  }
}
