.snui-button {
  appearance: none;
  border: none;
  border-radius: var(--snui-radii-sm);
  box-shadow: var(--snui-shadow-sm);
  color: var(--snui-color-white);
  cursor: pointer;
  font-weight: var(--snui-font-weight-lg);
  height: var(--snui-size-md);
  padding-inline-start: var(--snui-size-md);
  padding-inline-end: var(--snui-size-md);
  outline: currentColor none medium;
  width: auto;
}

.snui-button-filled {
  background: var(--snui-color-info-700);

  &:not(:disabled):hover {
    background: var(--snui-color-info-800);
  }
}

.snui-button-outline {
  background: var(--snui-color-transparent);
  border: 1px solid var(--snui-color-info-700);
  color: var(--snui-color-info-700);

  &:not(:disabled):hover {
    background: var(--snui-color-info-100);
  }
}

.snui-button-disabled {
  background: var(--snui-color-disabled);
}
