.snui-notification {
  border-radius: var(--snui-radii-md);
  color: var(--snui-color-black);
  max-width: 560px;
  margin: var(--snui-space-sm);
  min-width: 300px;
  padding: var(--snui-size-xs);
  position: relative;

  &--bottom {
    animation: slide-in-bottom 0.4s ease;

    &--exiting {
      animation: slide-out-bottom 0.4s ease;
    }
  }

  &--bottom-left {
    animation: slide-in-left 0.4s ease;

    &--exiting {
      animation: slide-out-left 0.4s ease;
    }
  }

  &--bottom-right {
    animation: slide-in-right 0.4s ease;

    &--exiting {
      animation: slide-out-right 0.4s ease;
    }
  }

  &--top {
    animation: slide-in-top 0.4s ease;

    &--exiting {
      animation: slide-out-top 0.4s ease;
    }
  }

  &--top-left {
    animation: slide-in-left 0.4s ease;

    &--exiting {
      animation: slide-out-left 0.4s ease;
    }
  }

  &--top-right {
    animation: slide-in-right 0.4s ease;

    &--exiting {
      animation: slide-out-right 0.4s ease;
    }
  }

  &__close-button {
    border: none !important;
    box-shadow: none !important;
    padding-inline-end: 0 !important;
    padding-inline-start: 0 !important;
    position: absolute;
    right: var(--snui-space-md);
    top: var(--snui-space-sm);
  }

  &__progressbar {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    height: 0.5rem;
    left: 0;
    position: absolute;
  }
}

// animations
@keyframes slide-in-bottom {
  0% {
    transform: translateY(120%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(120%);
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-120%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-120%);
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-120%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(120%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(120%);
  }
}
