.snui-divider {
  border: none;
  opacity: 0.6;

  &--horizontal {
    border-top-style: solid;
    border-top-width: 1px;
    height: 0;
    margin: 1rem 0;
    width: 100%;
  }

  &--vertical {
    border-left-style: solid;
    border-left-width: 1px;
    height: 100%;
    margin: 0 1rem;
    width: 0;
  }
}
