button.snui-alert-dialog__close-button {
  border: none;
  box-shadow: none;
  position: absolute;
  right: var(--snui-space-sm);
  top: var(--snui-space-md);

  &.snui-button:hover {
    background: var(--snui-color-gray100);
    box-shadow: none;
  }
}
