.snui-modal-container {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: var(--snui-z-index-overlay);
}

.snui-modal {
  align-items: center;
  animation: snui-scale-up 0.4s ease;
  background: var(--snui-color-white);
  border-radius: var(--snui-radii-sm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: var(--snui-space-xxl) 0;
  max-height: calc(calc(var(--snui-size-xs) * -7) + 100vh);
  position: relative;
  width: calc(var(--snui-size-md) * 14);
  z-index: var(--snui-z-index-modal);

  &--exiting {
    animation: snui-scale-down 0.4s ease;
  }

  &--sm {
    width: 20rem;
  }

  &--md {
    width: 24rem;
  }

  &--lg {
    width: 28rem;
  }

  &--xl {
    width: 36rem;
  }

  &--xxl {
    width: 100vw;
  }
}
