.snui-tooltip__content {
  position: absolute;
}

.snui-tooltip__inner {
  display: flex;
  justify-content: center;
  padding: 5px;
  position: relative;
}

.snui-tooltip__arrow {
  height: 0;
  position: absolute;
  width: 0;
}
