._snui-modal__header {
  align-self: flex-start;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-lg);
  padding-bottom: calc(var(--size-xs) * 0.5);
  padding-left: var(--size-sm);
  padding-top: var(--size-sm);
}
