.snui-floating {
  animation: snui-fade-in 0.4s ease;
  position: absolute;

  &--exiting {
    animation: snui-fade-out 0.4s ease;
  }

  &__arrow {
    width: 0;
    height: 0;
    position: absolute;

    &--down {
      border-left-color: transparent;
      border-left-style: solid;
      border-right-color: transparent;
      border-right-style: solid;
      border-top-style: solid;
    }

    &--left {
      border-top-color: transparent;
      border-top-style: solid;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-right-style: solid;
    }

    &--right {
      border-top-color: transparent;
      border-top-style: solid;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-left-style: solid;
    }

    &--up {
      border-left-color: transparent;
      border-left-style: solid;
      border-right-color: transparent;
      border-right-style: solid;
      border-bottom-style: solid;
    }
  }
}
